<html>
<head>
    <title>New Post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">		    
</head>
<body>
    <!-- <form action="/create" method="POST">
    Title: <input type="text" name="title"><br>
    Body: <input type="text" name="body"><br>
    <input type="submit" value="Submit">
    </form> -->


    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Here your create a new post!</h1>
                <p class="lead">Inspire the world and share what happens in your life.</p>
            </div>
        </div>
    <form action="/create" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Title:</label>
            <input type="text" class="form-control" placeholder="My New Post!" name="title">
            <small class="form-text text-muted">No clickbait please.</small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Post:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing eli..." name="body"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post it!</button>
    </form>
    </div>




    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>